# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/app/*
/craft/config/*
/craft/storage/*
!/craft/storage/logo/*
/public/_assets/c/app.min.css

# Common
.DS_Store

# Node and stuff
node_modules