{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClass = 'template--references' %}
{% set backgroundColor = entry.backgroundColor %}

{% block header %}
  <header class="header--top">
    <a class="" href="{{ siteUrl }}">
        <h1>
          <span class="out">{{ siteName }}</span>
          <img class="logo--image" src="/_assets/i/_logo_w100_h100.svg" alt="Logo Reset & Play">
        </h1>
        <aside class="close">
          X
        </aside>
    </a>
  </header>
{% endblock %}

{% block content %}

  {% set image = entry.logo.first() %}

  <article class="reference">
    <h1 class="reference--title out">{{ entry.title }}</h1>
    {% if image %}
      <img src="{{ image.url }}" alt="{{image.altLogo}}" class="reference--logo">
    {% endif %}
    <div class="reference--description">
      {{ entry.description }}
    </div>
  </article>

  <ul class="ref--nav">
    {% if next %}<li class="ref--nav-control ref--nav-prev"><a href="{{ next.url }}"> <- </a></li> {% endif %}
    {% if prev %}<li class="ref--nav-control ref--nav-next"><a href="{{ prev.url }}"> -> </a></li>{% endif %}
  </ul>

{% endblock %}
