/******************************************************************************/
/* Modal **********************************************************************/

.modal--link-open
  position  fixed
  top       20px
  right     @top


.modal
  position          fixed
  top               0
  left              0
  right             0
  bottom            0
  opacity           0
  overflow          hidden
  pointer-events    none
  color             white

  &.is_visible
    opacity         1
    pointer-events  auto


/******************************************************************************/
/* Carousel  ******************************************************************/


.carousel--wrapper
  height 100%

  .carousel--shutter
    position          fixed
    overflow          hidden
    transform-origin  0% 0%

    .carousel--flap
      transform-origin  0% 0%
      fix3d()

    &.carousel--shutter-ne
      width     200%
      height    @width*4
      transform rotate(-45deg) //translateX(1px)

      @media screen and (min-width em(960)) and (min-height em(320))
        height 700%
              
      @media screen and (min-width em(960)) and (min-height em(480))
        height 500%
        
      @media screen and (min-width em(960)) and (min-height em(640))
        height 300%


      .carousel--flap
        width     100%
        height    @width
        transform translate3d(@width/2,0,0)
       
      // diagonal stroke  
      &:before
        fakeContent()
        width 1px
        height 400%
        transform translate3d(0,-@height/4,0)
        background-color white
        z-index 10

    &.carousel--shutter-sw
      width     200%
      height    @width
      transform rotate(45deg) //translateY(-1px) 

      .carousel--flap
        width     100%
        height    @width
        transform translate3d(0,@width/2,0)
        
    @media screen and (min-height em(720))
      &.carousel--shutter-sw
        width 300%
    

  // shutter system is closed
  &.is_closed
    .carousel--shutter
      
      // translate diagonal stroke
      &:before
        transform translate3d(0,-80%,1px)
        
      // translate flaps near stroke
      .carousel--flap
        transform translate3d(0,0,0)


.carousel--translate
  width   100%
  height  100%
  overflow-y scroll // Fix IE bug hiding last element of carousel
  -webkit-overflow-scrolling: touch
  
  transition  transform $t-reg ease-in-out

.carousel--reference
  float     left
  position  relative
  height    100%
  width     100vw
  z-index   1




/******************************************************************************/
/* Transitions  ******************************************************************/


.modal
  will-change opacity
  transition opacity $t-slower ease-out $t-reg
  &.is_visible
    transition opacity $t-fast ease-in

.carousel--wrapper
  .carousel--shutter
    .carousel--flap
      will-change transform, background-color
      transition  transform $t-reg ease-in-out $t-reg
                  
      .is_visible &
        transition  transform $t-reg ease-out,
                    background-color $t-reg ease $t-fast

    &.carousel--shutter-ne  
      &:before
        will-change transform
        transition  transform $t-fast ease-out $t-reg


.carousel--translate
  will-change transform
  transition  transform $t-reg ease-in-out
  




// Manage opacity when launching carousel

.reference--nav-control
  will-change opacity
  
  .modal &
    opacity 0
    transition opacity $t-fast ease-in 
  
  .is_visible &
    opacity 1
    transition opacity $t-reg ease-out ($t-slow + 400)
    



// Manage opacity when navigating in carousel

.reference--logo-wrapper
.reference--description-wrapper
  will-change opacity
  transition opacity $t-slow ease-in 

  .modal &
    opacity 0
    transition opacity $t-fast ease-in 
  
  .is_first_in &
    opacity 1
    transition opacity $t-fast ease-out $t-slow
    
  .is_in &
    opacity 1
    transition opacity $t-fast ease-out $t-reg
    
  .is_out &
    opacity 0
    transition opacity $t-fast ease-in
    


// Manage translate when navigating in carousel

@media screen and (min-width $laptop['min-width'])
  .reference--description
  .reference--logo
    .modal &
      will-change transform
      transform translate3d(0)


  .reference--description
    .is_out.is_going_right &
      transform translate3d(150%,0,0)
     
    // set exception when looping from first to last project 
    :first-child.is_out.is_looping_left &
      transform translate3d(500%,0,0)
      

  .reference--logo
    .is_out.is_going_left &
      transform translate3d(-150%,0,0)
    
    // set exception when looping from last to first project
    :last-child.is_out.is_looping_right &
      transform translate3d(-500%,0,0)
      

  .reference--description
  .reference--logo
    .is_out &
      transition transform $t-fast ease-in


      


    