
/******************************************************************************/
/* Reference  *****************************************************************/


// Header
.header--top
  padding $step*2 $step*4

  background-color white

  .logo--image
    float   none
    height  50px
    width   @height

  .close
    position  absolute
    top       20px
    right     @top



// Reference : Wrappers

.template--references
.template--references main
  height auto
  @media screen and (min-width ($tabletPortrait['width'])) and (min-height $tabletLandscape['height'])
    height 100%
    
    .reference
      height 80%
    


    
.reference
  padding $paddingViewport-mobile
  color   white
  
  // todo
  // @media screen and (min-width $laptop['min-width'])
  //   padding $paddingViewport-tablet
    
  


// Reference : Content

.reference--logo
  //horizontalAlign($step*3, $step*8)
  // max-width 50%
  // position absolute
  // top 20%
  // right @top
  
  .reference--logo-image
    display           block
    width             100%
    padding-bottom    33%
    overflow          hidden
    background-size   cover
    background-repeat no-repeat
    horizontalAlign()
  
  .template--references &
    .reference--logo-image
      horizontalAlign(5%, 5%)
      
      @media screen and (min-width ($tabletPortrait['width'])) and (min-height $tabletLandscape['height'])
        margin 0


.reference--logo-wrapper
  @media screen and (max-width $tabletLandscape['width'])
    position          absolute
    width             50%
    height            auto
    top               step(75px)
    right             $paddingViewport-mobile
    

.reference--description
  margin-top    85%
  padding-right 20%
  
  
@media screen and (min-width em(420)) and (max-width $laptop['max-width'])
  .reference--logo-wrapper
    top 12%

  .reference--description
    margin-top    70%
    padding-right 35%

      
@media screen and (min-width em(510)) and (max-width $laptop['max-width'])
  .reference--logo-wrapper
    top 16%


@media screen and (min-width em(600)) and (max-width $laptop['max-width'])
  .reference--logo-wrapper
    width 45%
    top   21%
    

@media screen and (min-width em(768)) and (max-width $laptop['max-width'])
  .reference--logo-wrapper
    width 40%
    top   25%
    right $paddingViewport-tablet

  .reference--description
    margin-top    60%
    padding-right 50%
    padding-left  $paddingViewport-mobile
    
  
@media screen and (min-width em(960)) and (max-width $laptop['max-width'])
  .reference--logo-wrapper
    top 25%
  

      

// .reference--description
//   font-size   em(22)
//   line-height em(28/@font-size)
  
//   @media screen and (min-width $laptop['min-width'])
//     font-size   em(26)
//     line-height em(32/@font-size)
        
      


// @media screen and (min-width $tabletPortrait['width']) and (max-width $tabletLandscape['width'])

//   .reference--logo
//     display   inline
//     width     100%
//     max-width 30%
//     margin    10% 5% 10%
//     float     right
    

//   .reference--description
//     // width         60%
//     // margin-bottom step(90)
//     clear         right
    



@media screen and (min-width $tabletLandscape['width'])
      
  .reference--logo-wrapper
  .reference--description-wrapper
    display table
    float left
    width 50%
    height 100%
    
  .reference--description
  .reference--logo
    display table-cell
    vertical-align middle
  
  .reference--logo
    max-width auto
    .reference--logo-image
      margin          0
      width           50%
      padding-bottom  16.5%
  
  .reference--description
    padding 0 $step*6 0 $step*12
  

@media screen and (min-width $laptop['min-width'])
  .reference--description
    padding 0 $step*12




// Reference : Navigation

.reference--nav
  margin-top  $step*20
  overflow    hidden
  
  &.reference--nav-inner
    display   block
    position  absolute
    left      0
    width     100%
    padding   0 10px

  &.reference--nav-outer
    display none
    padding $paddingViewport-mobile
    
    .modal &
      position  absolute
      right     0
      bottom    0
      left      0  
  
  @media screen and (min-width ($tabletPortrait['width'])) and (min-height $tabletLandscape['height'])
    // @extend .modal .reference--nav !
    position  absolute
    bottom    $step*8
    right     $step*6
    left      @right
    
    &.reference--nav-inner
      display none

    &.reference--nav-outer
      display block
      
  @media screen and (min-width $laptop['min-width'])
    bottom    $step*14
    right     $step*12
    left      @right




// Nav controls //
      
.reference--nav-control
  display inline-block
  padding 0

  a
  span
    display         table-cell
    height          $step*12
    width           @height
    opacity         1
    background      transparent url("/_assets/i/__nav_references.svg") no-repeat
    background-size cover
    
    will-change opacity, transform
    transition  opacity $t-reg ease-out,
                transform $t-reg ease-out
    
    &:hover
      opacity 0.5
      
      transition  opacity $t-fast ease-in,
                  transform $t-fast ease-in
      
    

  &.reference--nav-prev
    float left
    
    a
    span 
      background-position left center
      
      &:hover
        transform translateX(-5%)


  &.reference--nav-next
    float right
    
    a
    span
      background-position center center
      
      &:hover
        transform translateX(5%)
    

  &.reference--nav-close
    position    absolute
    left        50%
    margin-left -($step*8/2)
    
    a
    span
      background-position right center
      
      &:hover
        transform scale(1.1)
    
    @media screen and (min-width $laptop['min-width'])
      position fixed
      top $paddingViewport-mobile
      right @top
      left auto
      margin-left 0
