/* Shutter *****************************************************************/

.bgImage
  position  absolute
  top       0
  left      0
  width     100%
  height    100%
  pointer-events    none
  background-size   cover
  background-repeat no-repeat




.mainShutter--wrapper
  
  @media screen and (min-width $laptop['min-width'])
    .js &
      position          fixed
      top               0
      bottom            0
      left              0
      right             0
      display           block

    .js section:nth-child(even) &
      .flap
        // background-color red
        background-color black
     



.shutter
  position absolute
  width 300%
  height 300%
  overflow hidden
  display none
  
  @media screen and (min-width $laptop['min-width'])
    display block
  
  &.shutter_ne
    transform-origin 0% 100%
    transform translate3d(0, -100%, 0) rotate(45deg)
    
  &.shutter_sw
    transform-origin 0% 0%
    transform translate3d(0, -1px, 0) rotate(45deg)
    



.flap
  background-color white
  // background-color blue
  position absolute
  width 100%
  height 100%
  transform-origin 130vh 0%
  transform translate3d(0, 0, 0) rotate(0deg)
  overflow hidden
  

  .shutter_ne &
    transform-origin 130vh 100%
    

  .section--00 .shutter_ne &
    transform translate3d(0, 0, 0) rotate(-20deg)
    

  .section--00 .shutter_sw &
    transform translate3d(0, 0, 0) rotate(20deg)
    
   
  .section--image &
    margin-left 130vh


  .section--image .shutter_ne &
    transform-origin 0 100%
    transform translate3d(0, 0, 0) rotate(90deg)

      
  .section--image .shutter_sw &
    transform-origin 0 0%
    transform translate3d(0, 0, 0) rotate(-90deg)
    
    

        
.nextSection--navigation
  display none
  
  @media screen and (min-width $laptop['min-width'])
    display           block
    width             100%
    height            1px
    position          fixed
    top               0
    left              0
    opacity           1
    transform-origin  0 100%
    transform         rotate(45deg) translateY(-1px)
    transition        opacity $t-slow ease-out

  
.nextSection--navigation
  // Targets the section nav arrow when the last section is visible
  section:last-of-type.is_visible + &
    opacity 0
    transition        opacity $t-fast ease-in


.nextSection--arrowWrapper
  position relative
  display  block
  width    32px
  height   @width
  margin   -(@width/2) 0 0 133vh
    
  .nextSection--arrow
    position            absolute
    width               100%
    height              @width
    background          transparent url("/_assets/i/__nav_next_section.svg") no-repeat
    background-position center center
    background-size     cover
    
    &:before
    &:after
      fakeContent();
      width             120vw
      height            1px
      top               50%
      background-color  $grey_light 
      
    &:before
      right 80%
      
    &:after
      left 90%
      


    
    
  


