/* Section 00 *****************************************************************/

.main--shutter
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display none
  @media screen and (min-width $laptop['min-width'])
    display block

.shutter
  position absolute
  width 200%
  height 200%
  overflow hidden
  z-index 1
  
  &.shutter-ne
    transform-origin 0% 100%
    transform translateY(-100%) rotate(45deg)
    
  &.shutter-sw
    transform-origin 0% 0%
    transform translateY(-1px) rotate(45deg)
    

.flap
  background-color black
  //background-color blue
  position absolute
  width 100%
  height 100%
  transform-origin 0% 0%
  margin-left 40%
  
  .shutter-ne &
    transform-origin 0% 100%
    transform rotate(60deg)
    
  .shutter-sw &
    transform rotate(-60deg)
    
.main--shutter
  .main--shutter-wrapper
    &:nth-child(even)
      .flap
        //background-color red
        background-color white
