@font-face {
        font-family: 'mgl';
        src: url('_assets/f/Mission Gothic Light_web.eot');
        src: url('_assets/f/Mission Gothic Light_web.eot?#iefix') format('embedded-opentype'),
             url('_assets/f/Mission Gothic Light_web.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
        font-family: 'mgb';
        src: url('_assets/f/Mission Gothic Light_web.eot');
        src: url('_assets/f/Mission Gothic Light_web.eot?#iefix') format('embedded-opentype'),
             url('_assets/f/Mission Gothic Light_web.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }