@font-face {
  font-family: 'mg';
  src: url('../f/Mission Gothic Light_web.eot');
  src: url('../f/Mission Gothic Light_web.eot?#iefix') format('embedded-opentype'),
       url('../f/Mission Gothic Light_web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mg';
  src: url('../f/Mission Gothic Light Italic_web.eot');
  src: url('../f/Mission Gothic Light Italic_web.eot?#iefix') format('embedded-opentype'),
       url('../f/Mission Gothic Light Italic_web.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mg';
  src: url('../f/Mission Gothic Regular_web.eot');
  src: url('../f/Mission Gothic Regular_web.eot?#iefix') format('embedded-opentype'),
       url('../f/Mission Gothic Regular_web.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mg';
  src: url('../f/Mission Gothic Regular Italic_web.eot');
  src: url('../f/Mission Gothic Regular Italic_web.eot?#iefix') format('embedded-opentype'),
       url('../f/Mission Gothic Regular Italic_web.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'mg';
  src: url('../f/Mission Gothic Black_web.eot');
  src: url('../f/Mission Gothic Black_web.eot?#iefix') format('embedded-opentype'),
       url('../f/Mission Gothic Black_web.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'mg';
  src: url('../f/Mission Gothic Thin_web.eot');
  src: url('../f/Mission Gothic Thin_web.eot?#iefix') format('embedded-opentype'),
       url('../f/Mission Gothic Thin_web.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

MissionGothic-Light()
    font-weight normal

MissionGothic-Black()
    font-weight 800

MissionGothic-Thin()
    font-weight 200
    
