// Error 

.todo
  background-color rgba(red,0.1)

todo()
  background-color rgba(red,0.1)




// Selector

test(percent = 0)
  percent = unit(percent,'%')
  background-color lighten(green, percent)




// Resetter 

resetMarginPadding()
  margin 0
  padding 0

fix3d()
  transform translate3d(0,0,0)




// Maths

sqrt(x)
  return math(x, 'sqrt') // use js math lib




// Units

em(pixel, context = 16)
  pixel = unit(pixel, px)
  context = unit(context, px)
  round(pixel / context, 3)em




// Grid

// You can use the square grid unit
$step = 5px

// Or a function that helps you set proper units in the square grid
step(value)
  $_step = 5px
  (round(value / $_step) * $_step)px




// Alignment

verticalAlign(offsetY = -50%, top = 50%)
  position  relative
  transform translateY(offsetY)
  top       top

horizontalAlign(marginTop = 0, marginBottom = 0)
  margin marginTop auto marginBottom




// Style

fakeContent()
  content ""
  position absolute
  
