// Error 

.todo
  background-color rgba(red,0.1)

todo()
  background-color rgba(red,0.1)

// Selector
test00()
  background-color lighten(green,0%)

test10()
  background-color lighten(green,10%)

// Resetter 

resetMarginPadding()
  margin 0
  padding 0

fix3d()
  transform translate3d(0,0,0)

// Maths

sqrt(x)
  return math(x, 'sqrt') // use js math lib

// Units

em(pixel, context = 16)
  pixel = unit(pixel, px)
  context = unit(context, px)
  round(pixel / context, 3)em


// Alignment

verticalAlign(offsetY = -50%)
  position relative
  top 50%
  transform translateY(offsetY)

horizontalAlign(marginTop = 0, marginBottom = 0)
  margin marginTop auto marginBottom


// Style

fakeContent()
  content ""
  position absolute
  
