*
  box-sizing border-box

h1, h2, ul, li, p
  resetMarginPadding()

.out
  position    absolute 
  text-indent -99999px

button
  &.reference--nav-control
    background-color  transparent
    border            0 none 
    
img
  vertical-align top
