/******************************************************************************/
/* General ********************************************************************/

html
body
main
  height  100%
  width   100%

body
  &.no-scroll
  &.no-scroll main
    overflow hidden
    

/******************************************************************************/
/* Main sections **************************************************************/

section
  display         block
  position        relative
  width           100%
  margin          100% 0
  padding         $paddingViewport-mobile
  fix3d()
    
  &.section--intro
    height 100%
    margin 0  
    @media screen and (min-width $laptop['min-width'])
      .js &
        display block

.section--title
  margin-bottom step(30)


@media screen and (min-width $tabletPortrait['width']) and (max-width $laptop['max-width'])
  section
    padding $paddingViewport-tablet
    
  .section--title
    margin-top    step(250)
    margin-bottom step(420)
    
  .section--description
    width         60%
    margin-bottom step(90)

@media screen and (min-width $laptop['min-width'])
  section
    height    50%
    padding   $paddingViewport-laptop
      
    .js &
      position  fixed
      height    100%
      margin    0
      pointer-events  none

      &.is_visible
        pointer-events  auto 
      
      &.section--intro
        position  absolute
        

    .section--wrapper
      display   table
      height    100%
      
        
    .section--title--wrapper
    .section--description
      display         table-cell
      height          100%
      width           50%
      position        relative
      vertical-align  middle
      
      .js &
        opacity 0
    

    &.section--04 
      .section--wrapper
        display inline-block
           
      .section--title--wrapper
        display block
        pointer-events none
        
      .section--title
        verticalAlign()
      

    .section--description
      padding 0 $step*12
            

    .section--title
      float left
      




/* Section 00 *****************************************************************/

.section--intro
  overflow hidden //hides :after diagonale

  + section
    margin-top 90%
    @media screen and (min-width $laptop['min-width'])
      .js &
        margin-top 0
        



// Wrapper
.section--intro
  .section--wrapper
    display block
    height  auto
    verticalAlign(-78%)
    //transition transform $t-reg ease-out    
    
    @media screen and (min-height ($phoneLandscape['height']+1)) 
    // ————————————————————————————————————————— portrait mobile
      verticalAlign(-39%)

    @media screen and (min-width $tabletPortrait['width'])
      verticalAlign(-60%)  




// Components
.logo--component
  display block
  horizontalAlign(0, $step*2)


.logo--image
  width             $logo-image-size_mobile
  height            @width
  @media screen and (orientation portrait)
    width   $logo-image-size
    height  @width


.logo--name
  width   250px
  height  32px


.baseline
  width 90%
  horizontalAlign()

  strong
    display block


@media screen and (min-width $tabletPortrait['width'])
  .logo--image
    width   $logo-image-size_tablet
    height  @width

  .logo--name
    width   350px
    height  45px


@media screen and (min-width $tabletLandscape['width'])
  .logo
    display   block
    position  relative
    width     $logo-wrapper-size_laptop
    horizontalAlign()

  .logo--image
    float         left
    width         $logo-image-size_laptop
    height        @width
    margin-bottom 0

  .logo--name
    margin      0
    width       auto
    height      $step*15
    padding-top 17px

  .baseline
    width       auto
    margin-left $logo-image-size_laptop
    margin-top  12px




/* Section 04 *****************************************************************/

.reference--list
  horizontalAlign(0, $step*16)
  padding-top $step*16
  font-size   0
  line-height normal
  -webkit-transform: perspective(1000)
  
  @media screen and (min-width $laptop['min-width'])
    opacity 0

  $$mq2-min = (($section-padding * 2) - $diamond__interval + ($diamond__size + $diamond__interval) * 2)px
  $$mq3-min = (($section-padding * 2) - $diamond__interval + ($diamond__size + $diamond__interval) * 3)px
  $$mq4-min = (($section-padding-large * 2) - $diamond__interval + ($diamond__size + $diamond__interval) * 4)px

  @media screen and (max-width ($$mq2-min - 1))
    max-width $diamond__size + ($diamond__diagonal / 2)

  @media screen and (min-width $$mq2-min) and (max-width ($$mq3-min - 1))
    max-width (($diamond__size + $diamond__interval) * 2) - $diamond__interval

  @media screen and (min-width $$mq3-min) and (max-width ($$mq4-min - 1))
    max-width (($diamond__size + $diamond__interval) * 3) - $diamond__interval

  @media screen and (min-width $$mq4-min) and (max-width $laptop['max-width'])
    max-width (($diamond__size + $diamond__interval) * 4) - $diamond__interval
    
  @media screen and (min-width $laptop['min-width'])
    .js &
      background-color rgba(red, 0.05)
      max-width none
      position absolute
      top 0
      left $paddingViewport-laptop + 150
      padding-top $diamond__interval
      


  .reference--item
    
    // cf. values.styl

    list-style    none
    display       inline-block
    margin-right  $diamond__interval
    

    @media screen and (max-width ($$mq2-min - 1))
      margin-right $diamond__interval

      &:nth-child(odd)
        margin-right 0
        margin-left ($diamond__diagonal / 2)

      &:nth-child(n+1)
        margin-top $diamond__row-yoffset

    
    @media screen and (min-width $$mq2-min) and (max-width ($$mq3-min - 1))
      &:nth-child(3n+3)
        margin-left $diamond__row-xoffset
      
      &:nth-child(3n+2)
        margin-right 0
        
      &:nth-child(n+2)
        margin-top $diamond__row-yoffset


    @media screen and (min-width $$mq3-min) and (max-width ($$mq4-min - 1))
      &:nth-child(5n+4)
        margin-left $diamond__row-xoffset
      
      &:nth-child(5n+3)
        margin-right 0
        
      &:nth-child(n+3)
        margin-top $diamond__row-yoffset


    @media screen and (min-width $$mq4-min) and (max-width $laptop['max-width'])
      &:nth-child(7n+5)
        margin-left $diamond__row-xoffset
      
      &:nth-child(7n+4)
        margin-right 0
        
      &:nth-child(n+4)
        margin-top $diamond__row-yoffset
        
        
    @media screen and (min-width $laptop['min-width'])
      margin-right $diamond__interval-large
      display block
      float left
      
      &:nth-child(2)
        margin-right 0

      &:nth-child(3)
        margin-left $diamond__row-xoffset-large
        
      &:nth-child(4)
        margin-right 0
        
      &:nth-child(5)
        margin-left ($diamond__row-xoffset-large * 2) - 0.5
        clear left
        
      &:nth-child(6)
        margin-right 0
        
      &:nth-child(7)
        margin-left ($diamond__row-xoffset-large * 3) - 0.5
        
      &:nth-child(2n+3)
        clear left
              
      &:nth-child(n+3)
        margin-top $diamond__row-yoffset-large + 0.5
      

    a
    .reference--content
    .reference--itemLayer
      height  $diamond__size
      width   @height
      @media screen and (min-width $laptop['min-width'])
        .js &
          height  $diamond__size-large
          width   @height
          
    a
      position  relative
      display   block
      overflow  hidden
      transform rotate(45deg) translate3d(0,0,0)
      font-size 16px

    .reference--itemLayer
      position  absolute
      display   block
      transform rotate(45deg) translate3d(0,0,0)

    .reference--content
      display         table-cell
      vertical-align  middle
      text-align      center
      transform       rotate(-45deg) translate3d(0,0,0)
      


// TODO : This one could be removed
.section__references--layer
  display none
  @media screen and (min-width $laptop['min-width'])
    .js &
      // display block
      position absolute
      left 0
      top 0
      width 200%
      height 100%
      transform-origin 0 0
      transform rotate(45deg)
      opacity 0
      background-color white
      

.section__references--pattern
  @media screen and (min-width $laptop['min-width'])
    .js &
      width     100%
      height    200%
      position  fixed
      top       0
      left      0
      opacity 0
      transform-origin 0 0
      transform rotate(-45deg)
    
    // TODO : Update layer with diamond pattern
    &:before
    &:after
      fakeContent()
      width 100%
      height 1px
      top 998px
      background-color lighten(black,75%)
    
    &:after
      top 1246px
      

