/******************************************************************************/
/* General ********************************************************************/

html
body
  background-color white
  



html
  font-size 100%
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust     100%




body
  font em(16)\/em(24) mg, Arial, sans-serif normal

/******************************************************************************/
/* Main sections **************************************************************/

section
  background-color  white
  color             black
  @media screen and (min-width $laptop['min-width'])
    .js &
      background-color transparent


  &:before
  &:after
    fakeContent()
    width         0
    height        0
    border-style  solid
    @media screen and (min-width $laptop['min-width'])
      .js &
        content none


  &:before
    bottom        100%
    right         0%
    border-width  100vw 0 0 100vw
    border-color  transparent transparent transparent white

  &:after
    top           100%
    left          0%
    border-width  0 100vw 100vw 0
    border-color  transparent white transparent transparent

  &.odd
    color white
    @media screen and (min-width $laptop['min-width'])
      .js &
        background-color transparent

    &:before
      border-color transparent transparent transparent black

    &:after
      border-color transparent black transparent transparent 


  &:first-child:before
  &:first-child:after
    content none /*remove :after & :before triangle on .section--intro so
    before diagonal stays visible*/


  &:nth-last-child(2):after
    content none




// Components

.section--title
  font-size       em(35)
  text-transform  uppercase
  MissionGothic-Black()

@media screen and (min-width $tabletPortrait['width'])
  .section--title
    font-size   em(48)
    text-align  right

  .section--description
    font-size   em(22)
    line-height em(28/@font-size)
    
@media screen and (min-width $laptop['min-width'])
  .section--title
    font-size   em(60)
    text-align  left
    
  .section--description
    font-size   em(26)
    line-height em(32/@font-size)




/* Section 00 *****************************************************************/

.logo
  &:visited
    color black

  &:before,
  &:after
    left              50%
    height            1px
    background-color  lighten(black,75%)
    transform-origin  0% 0%
    
  &:before
    fakeContent()
    width       200%
    top         0%
    left        50%
    margin-left - $logo-image-padding - ($logo-image-size/2)px
    margin-top  - $logo-image-padding
    transform   rotate(45*5deg)

  &:after
    width     200%
    transform rotate(45deg)
    
  .logo--image
    background-color white
  
  @media screen and (min-width $tabletPortrait['width'])
    &:before
    &:after
      fakeContent()

    &:before
      margin-left - $logo-image-padding - ($logo-image-size_tablet/2)px

    &:after
      bottom      - $logo-image-padding
      margin-left $logo-image-size_tablet + $logo-image-padding

  @media screen and (min-width $tabletLandscape['width'])
    &:before
      left        0%
      margin-left - $logo-image-padding

    &:after
      top         $logo-image-size_laptop + $logo-image-padding
      bottom      auto
      left        @top
      margin-left auto
      
  @media screen and (min-width $laptop['min-width'])
    &:before
    &:after
      content none
      



aside
  strong
    font-weight normal

  .intro--baseline
    font-size 1em
    MissionGothic-Thin()
    text-align center

    @media screen and (min-height $phoneLandscape['height']+1)
      font-size   em(22)
      line-height em(26/@font-size)
    
    @media screen and (min-width $tabletLandscape['width'])
      text-align left  
      
    @media screen and (min-width $desktop) 
      font-size em(30)

  .error--baseline
    @extends aside .intro--baseline
    margin-top $step*10

  .error--link
    @extend aside .intro--baseline
    a
      color           black
      text-decoration underline



// References on diamond grid 

.reference--item
      
  a
    border $diamond__border-size solid lighten(black,75%)

  .reference--itemLayer
    opacity     0
    transition  opacity $t-fast ease-in-out

  .reference--content
    color black
  
  .reference--content-image
    width auto
    height $step*8
    background-size cover
    background-position left bottom
    
    @media screen and (min-width $laptop['min-width'])
      height $step*16

  &:hover
    position  relative

    a
      border-color transparent

    .reference--itemLayer
      opacity 1

    .reference--content
      color white
      
    .reference--content-image
      background-position left top
    





