/******************************************************************************/
/* General ********************************************************************/

html
body
  background-color white
  

html
  font-size 100%
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust     100%


body
  font em(16)\/em(24) mg, Arial, sans-serif normal

/* Less Than IE10 ********************************************************************/  

.lt-ie10
    
  .browsehappy--disclaimer
    text-align center
    padding $paddingViewport-mobile
    
  .nextSection--arrowWrapper
    .nextSection--arrow
      background-image none


/* Mail icon ********************************************************************/

.mail--icon
  background      transparent url("/_assets/i/__nav_mail.svg") no-repeat
  background-size cover
  transition      transform $t-fast ease-in
  
  &.mail--icon-white
    background-position right center

  &.mail--icon-black
    background-position left center
    
  &:hover
    transform scale(1.05)
    


/* Mail icon ********************************************************************/

.logoSymbol--wrapper
  display none

.logo--icon
  background transparent url("/_assets/i/__nav_logo.svg") no-repeat
  background-size cover
  
  &.logo--icon-white
    background-position right center

  &.logo--icon-black
    background-position left center
              



/******************************************************************************/
/* Main sections **************************************************************/

section
  color black
  background transparent url("/_assets/i/_parallelepipede_white.svg") no-repeat left -1px
  background-size 1280px

  @media screen and (min-width $laptop['min-width'])
    .js &
      background transparent none
      
  &.odd
    color white
    background transparent url("/_assets/i/_parallelepipede_black.svg") no-repeat left top
    background-size 1280px
    
    @media screen and (min-width $laptop['min-width'])
      .js &
        background transparent none
      
  
  .section--wrapper
    position relative
    z-index 10



// Components

.section--title
  font-size       em(35)
  text-transform  uppercase
  MissionGothic-Black()
  
.section--description
  * + *
    margin-top em(24)

@media screen and (min-width 600px)
  .section--title
    font-size   em(40)

  .section--description
  .reference--description
    font-size   em(18)
    line-height em(28/@font-size)

@media screen and (min-width $tabletPortrait['width'])
  .section--title
    font-size   em(52)

  .section--description
  .reference--description
    font-size   em(22)
    line-height em(32/@font-size)
    

@media screen and (min-width $laptop['min-width']) and ( min-height $laptop['height-small'])
  .section--title
    font-size   em(40)
    
  .section--description
  .reference--description
    font-size   em(22)
    line-height em(28/@font-size)
    

@media screen and (min-width $laptop['min-width']) and ( min-height $laptop['height-regular'])
  .section--title
    font-size   em(48)
    
    
@media screen and (min-width $laptop['min-width']) and ( min-height $laptop['height-large'])
  .section--title
    font-size   em(60)
    

@media screen and (min-width $desktop)
  .section--description
  .reference--description
    font-size   em(26)
    line-height em(32/@font-size)
  



/* Section--intro *****************************************************************/

.logo
  &:visited
    color black

  &:before,
  &:after
    left              50%
    height            1px
    background-color  lighten(black,75%)
    transform-origin  0% 0%
    
  &:before
    fakeContent()
    width       200%
    top         0%
    left        50%
    margin-left - $logo-image-padding - ($logo-image-size/2)px
    margin-top  - $logo-image-padding
    transform   rotate(45*5deg)

  &:after
    fakeContent()
    width       200%
    transform   rotate(45deg)
    margin-left 175px
    margin-top  15px
    
  .logo--image
    background-color white
  
  @media screen and (min-width $tabletPortrait['width'])
    &:before
    &:after
      fakeContent()

    &:before
      margin-left - $logo-image-padding - ($logo-image-size_tablet/2)px

    &:after
      bottom      - $logo-image-padding
      margin-left $logo-image-size_tablet + $logo-image-padding

  @media screen and (min-width $tabletLandscape['width'])
    &:before
      left        0%
      margin-left - $logo-image-padding

    &:after
      top         $logo-image-size_laptop + $logo-image-padding
      bottom      auto
      left        @top
      margin-left auto
      margin-top  auto
      
  @media screen and (min-width $laptop['min-width'])
    &:before
    &:after
      content none
      



aside
  strong
    font-weight normal

  .intro--baseline
    font-size 1em
    MissionGothic-Thin()
    text-align center

    @media screen and (min-height $phoneLandscape['height']+1)
      font-size   em(22)
      line-height em(26/@font-size)
    
    @media screen and (min-width $tabletLandscape['width'])
      text-align left  
      
    @media screen and (min-width $desktop) 
      font-size em(30)

  .error--baseline
    @extends aside .intro--baseline
    margin-top $step*10

  .error--link
    @extend aside .intro--baseline
    a
      color           black
      text-decoration underline




/* Section--image *****************************************************************/

.section--image
  background-size cover
  background-position center center
  @media screen and (min-width $laptop['min-width'])
    background-image none !important 
    
  .bgImage
    @media screen and (max-width $laptop['max-width'])
      background-color transparent
      background-repeat no-repeat, no-repeat
      background-position left top, right bottom

      .odd + &
        background-image url("/_assets/i/_triangle_NE_black.svg"),
                         url("/_assets/i/_triangle_SW_white.svg") !important
     
      .even + &
        background-image url("/_assets/i/_triangle_NE_white.svg"),
                         url("/_assets/i/_triangle_SW_black.svg") !important
     
    

/* Section--references *****************************************************************/

.reference--item
      
  a
    border $diamond__border-size solid lighten(black,90%)
    @media screen and (min-width $laptop['min-width'])
      border-color transparent

  .reference--itemLayer
    opacity     0
    transition  opacity $t-fast ease-in-out

  .reference--content
    color black
  
  .reference--content-image
    width auto
    height $step*8
    background-size cover
    background-position center bottom

  &:hover
    position  relative

    a
      border-color transparent

    .reference--itemLayer
      opacity 1

    .reference--content
      color white
      
    .reference--content-image
      background-position left top
      



.section__references--pattern
  .js &
    @media screen and (min-width $laptop['min-width'])
      background transparent url("/_assets/i/__ref_diamond_pattern.svg") repeat 0 1px
      background-size 179px 179px
      
    @media screen and (min-width $desktop)
      background-image url("/_assets/i/__ref_diamond_pattern_xl.svg")
      background-size 229px 229px
    

