/********************************************************************/
/* Global ***********************************************************/


$paddingViewport-mobile = step(25)
$paddingViewport-tablet = step(50)
$paddingViewport-laptop = step(80)

/********************************************************************/
/* Mediaqueries *****************************************************/


$phonePortrait = {
  width  : em(320),
  height : em(480)
}
$phoneLandscape = {
  width  : em(480),
  height : em(320)
}
$tabletPortrait = {
  width  : em(768)
  height : em(1024)
}
$tabletLandscape = {
  width  : em(1024),
  height : em((768 - 109))
}

$laptop = {
  max-width : em((1200 - 1)),
  min-width : em(1200),
  height-small    : em(320),
  height-regular  : em(640),
  height-large    : em(800)
}

$desktop = em(1480)

/********************************************************************/
/* Transitions ******************************************************/

// Timings
  $t-fast = 200ms
  $t-reg = 600ms
  $t-slow = 1200ms
  $t-slower = 2000ms
  t = {
    slow : '1200ms',
    reg  : '600ms',
    fast : '200ms',
  }

/********************************************************************/
/* Main sections ****************************************************/

  $section-padding = $step*5
  $section-padding-large = $step*10

/* .section--intro ******************************************************/

  $logo-image-size = 140px
  $logo-image-size_mobile = $logo-image-size*0.8
  $logo-image-size_tablet = $logo-image-size*1.4
  $logo-image-size_laptop = $logo-image-size*0.9

  $logo-image-padding = 25px

  $logo-wrapper-size_mobile = 300px
  $logo-wrapper-size_laptop = 600px


/* .section--reference ******************************************************/

// diamond grid config
  $diamond__border-size = 1px
  $diamond__size        = 130px
  $diamond__size-large  = 180px
  $diamond__size-xlarge  = 230px
  
  $diamond__diagonal       = _diamond__calcDiagonal()
  $diamond__diagonal-large = _diamond__calcDiagonal($diamond__size-large)
  $diamond__diagonal-xlarge = _diamond__calcDiagonal($diamond__size-xlarge)
  
// diamond calc values

  // added horizontal space to parent block to join diamonds on the same row
  $diamond__interval       = _diamond__calcInterval();
  $diamond__interval-large = _diamond__calcInterval($diamond__size-large);
  $diamond__interval-xlarge = _diamond__calcInterval($diamond__size-xlarge);

  // added horizontal space to new row of diamonds
  $diamond__row-xoffset       = _diamond__calcXOffset()
  $diamond__row-xoffset-large = _diamond__calcXOffset($diamond__size-large)
  $diamond__row-xoffset-xlarge = _diamond__calcXOffset($diamond__size-xlarge)
  
  // added vertical space to new row of diamonds
  $diamond__row-yoffset       = _diamond__calcYOffset()
  $diamond__row-yoffset-large = _diamond__calcYOffset($diamond__size-large)
  $diamond__row-yoffset-xlarge = _diamond__calcYOffset($diamond__size-xlarge)