/******************************************************************************/
/* General ********************************************************************/


// 30  
.browsehappy
  z-index 40


// 30
.modal
.modal--link-open
  z-index 30


// 20
.nextSection--navigation
.mail--wrapper
.logoSymbol--wrapper
.logo--wrapper
.browsehappy--wrapper
  z-index 20
  

@media screen and (max-width $laptop['max-width'])    
  .section--image
    .bgImage
      z-index 2

    .section--wrapper
      z-index 3
      