/******************************************************************************/
/* General ********************************************************************/
  
// 2
.modal
.modal--link-open
  z-index 2




// 1
section
.reference--item:hover
  z-index 1



// 0
.main--shutter
  z-index 0
  