/******************************************************************************/
/* General ********************************************************************/
  
// 7
.modal
.modal--link-open
  z-index 30


// 6
.nextSection--navigation
.mail--wrapper
.logoSymbol--wrapper
.logo--wrapper
  z-index 20
  



@media screen and (max-width $laptop['max-width'])    
  .section--image
    .bgImage
      z-index 2

    .section--wrapper
      z-index 3
      