{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
  <section class="section--00 section--intro">
    <div class="section--00--wrapper">
      <a class="logo" href="{{ siteUrl }}">
        <h1>
          <span class="out test">{{ siteName }}</span>
        </h1>
        <img class="logo--component logo--image todo" src="_assets/i/_logo_w100_h100.svg" alt="Logo Reset & Play">
        <img class="logo--component logo--name todo" src="" alt="">
      </a>
      <aside class="baseline">
        <p class="error--baseline">La page n'a pas été trouvée</p>
        <p class="error--link">
          <a href="{{ siteUrl }}">retourner à l'accueil</a>
        </p>
      </aside>
    </div>
  </section>
{% endblock %}
