{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

  {% set moderator = 0 %}

  {% for block in entry.slides %}

    {# var moderator helps escape the color pattern of image section #}
    {% if block.type == "sectionImage" %}
        {% set moderator = moderator + 1 %}
    {% endif %}

    {% set count = (block.sortOrder - moderator - 1) %}
    {% set evenOrOdd = count % 2 == 0 ? 'even' : 'odd' %}

    {% if block.type == "sectionIntro" %}

      <section class="section--00 section--intro {{evenOrOdd}}" style="z-index:{{(20 - block.sortOrder)}}">

        <div class="mainShutter--wrapper">
          <header class="shutter shutter_ne">
              <div class="flap"></div>
          </header>
          <footer class="shutter shutter_sw">
              <div class="flap"></div>
          </footer>
        </div>

        <div class="section--wrapper">
          <div class="logo">
            <h1>
              <span class="out">{{ siteName }}</span>
            </h1>
            <img class="logo--component logo--image" src="/_assets/i/__logo_symbol.svg" alt="R&P">
            <img class="logo--component logo--name" src="/_assets/i/__logo_logotype.svg" alt="Reset & Play">
            <aside class="baseline">
              <strong class="intro--baseline">{{ block.baseline }}</strong>
            </aside>
          </div>
        </div>
        
        {# <a href="#" class="modal--link-open js--modal-open">open reference</a> #}

      </section>

    {% elseif block.type == "sectionTitle" %}

      <section class="section--0{{(block.sortOrder - 1)}} section--references {{evenOrOdd}}" style="z-index:{{(20 - block.sortOrder)}}">
        <div class="section--wrapper">
          <div class="section__references--pattern"></div>
          <div class="section--title--wrapper">
            <h2 class="section--title">{{ block.heading }}</h2>
          </div>
          <ul class="reference--list" id="references">
            {% for entry in craft.entries.type('project').order('title') %}
              <li class="reference--item reference--item-child-{{loop.index}}">
                <div class="reference--itemLayer" style="background-color : {{entry.backgroundColor}}"></div>

                {% set image = entry.logo.first() %}

                <a href="{{ entry.url }}" class="js--modal-start" data-ref-index="{{loop.index}}">
                  <div class="reference--content">
                  {% if image %}
                  <div class="reference--content-image" style="background-image:url({{image.url}})"></div>
                  {% else %}
                    {{ entry.title }}
                  {% endif %}
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    {% else %}

    {% if block.type == "sectionImage" %}

    {% set image = block.backgroundImage.first() %}

      <section class="section--0{{(block.sortOrder - 1)}} section--image" style="z-index:{{(20 - block.sortOrder)}}; background-image: url({{image.url}}) ">

      <div class="bgImage--wrapper">
        <div class="bgImage" style="background-image: url({{image.url}})"></div>
      </div>

      <div class="mainShutter--wrapper">
          <header class="shutter shutter_ne">
             <div class="flap">
              </div>
         </header>
          <footer class="shutter shutter_sw">
             <div class="flap">
              </div>
         </footer>
      </div>

    {% else %}

      <section class="section--0{{(block.sortOrder - 1)}} {{evenOrOdd}}" style="z-index:{{(20 - block.sortOrder)}}">

      <div class="mainShutter--wrapper">
        <header class="shutter shutter_ne">
            <div class="flap"></div>
        </header>
        <footer class="shutter shutter_sw">
            <div class="flap"></div>
        </footer>
      </div>

    {% endif %}

      <div class="section--wrapper">

        <div class="section--title--wrapper">
          {% if block.type == "sectionImage" %}
            <h2 class="section--title" style="color:{{ block.headingColor }}">
          {% else %}
            <h2 class="section--title">
          {% endif %}
            {{ block.heading }}</h2>
        </div>

        {% if block.type == "sectionDefault" %}
          <div class="section--description">{{ block.description }}</div>
        {% endif %}

        {% if block.type == "sectionImage" %}
          <div class="section--description" style="color:{{ block.descriptionColor }}">{{ block.description }}</div>
        {% endif %}

      </div>

    </section>

    {% endif %}

  {% endfor %}

  <div class="nextSection--navigation">
    <a href="#" class="nextSection--arrowWrapper js--nextSection">
      <div class="nextSection--arrow"></div>
    </a>
  </div>

  <a class="mail--wrapper" href="mailto:welcome@resetandplay.com">
    <div class="mail--icon mail--icon-white"></div>
    <div class="mail--icon mail--icon-black"></div>
  </a>

  <a class="logoSymbol--wrapper" href="#top">
    <div class="logo--icon logo--icon-black"></div> 
    <div class="logo--icon logo--icon-white"></div>
  </a>

  <div class="logo--wrapper logo">
    <h1>
      <span class="out">{{ siteName }}</span>
    </h1>
    <img class="logo--component logo--image" src="/_assets/i/__logo_symbol.svg" alt="R&P">
    <img class="logo--component logo--baseline" src="/_assets/i/__logo_baseline.svg" alt="Reset & Play">
  </div>


{% set length = craft.entries.type('project').total() %}

  <div class="modal" id="modal">
    
    <div class="carousel--wrapper" data-ref-current="1" data-ref-total="{{length}}" style="width:{{ 100*length ~ '%' }}">
    
      <header class="carousel--shutter carousel--shutter-ne">
        <div class="carousel--flap"></div>
      </header>
      <footer class="carousel--shutter carousel--shutter-sw">
        <div class="carousel--flap"></div>
      </footer>

      <div class="carousel--translate">

      {% for entry in craft.entries.type('project').order('title') %}

        <article class="carousel--reference carousel--reference-child-{{loop.index}} reference" data-ref-bgColor="{{entry.backgroundColor}}" data-ref-index="{{loop.index}}">

          {% include "/projects/_reference/__content" %}

        </article>
      {% endfor %}
      
      </div>

      <nav class="reference--nav reference--nav-outer">
        {% include "__nav.html" %}
      </nav>

    </div>
  </div>


{% endblock %}
