{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

  <section class="section--00 section--intro">
    <div class="section--00--wrapper">
      <a class="logo" href="{{ siteUrl }}">
        <h1>
          <span class="out test">{{ siteName }}</span>
        </h1>
        <img class="logo--component logo--image todo" src="/_assets/i/_logo_w100_h100.svg" alt="Logo Reset & Play">
        <img class="logo--component logo--name todo" src="" alt="">
        <aside class="baseline">
          <strong class="intro--baseline">{{ entry.baseline }}</strong>
        </aside>
      </a>
    </div>
    
    <a href="#" class="modal--link-open js--modal-open">open reference</a>
  </section>

  <section class="section--01 section--why">
    <h2 class="section--title">{{ entry.heading }}</h2>
    <div class="section--description">{{ entry.home01Description }}</div>
  </section>

  <section class="section--02 section--how">
    <h2 class="section--title">{{ entry.home02Heading }}</h2>
    <div class="section--description">{{ entry.home02Description }}</div>  
  </section>

  <section class="section--03 section--what">
    <h2 class="section--title">{{ entry.home03Heading }}</h2>
    <div class="section--description">{{ entry.home02Description }}</div>
  </section>

  <section class="section--04 section--references">
    <h2 class="section--title">{{ entry.home04Heading }}</h2>
    <ul class="reference--list">
      {% for entry in craft.entries.type('projets') %}
        <li class="reference--item reference--item-child-{{loop.index}}">
          <div class="reference--item-layer" style="background-color : {{entry.backgroundColor}}"></div>
          <a href="{{ entry.url }}">
            <div class="reference--content">{{ entry.title }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>


{% set length = craft.entries.type('projets').total() %}

  <div class="modal" id="modal">
    
    <div class="carousel--wrapper" data-ref-current="1" data-ref-total="{{length}}" style="width:{{ 100*length ~ '%' }}">
    
      <header class="carousel--shutter carousel--shutter-ne">
        <div class="carousel--flap"></div>
      </header>
      <footer class="carousel--shutter carousel--shutter-sw"><div class="carousel--flap"></div>
      </footer>

      <div class="carousel--translate">

      {% for entry in craft.entries.type('projets') %}

        <article class="carousel--reference carousel--reference-child-{{loop.index}} reference" style="background-color:rgb(255,255,255,0.5" data-ref-bgColor="{{entry.backgroundColor}}" data-ref-curent="{{loop.index}}">

          {% include "/news/_reference/__content" %}

          <nav class="reference--nav reference--nav-inner">
            {% include "__nav.html" %}
          </nav>

        </article>
      {% endfor %}
      
      </div>

      <nav class="reference--nav reference--nav-outer">
        {% include "__nav.html" %}
      </nav>

    </div>
  </div>


{% endblock %}
